
  <!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/wedding.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" class="fadeIn second" placeholder="Correo Electronico" #passwordResetEmail required>
        <input type="button" class="fadeIn fourth" value="Cambiar Contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/login">Regresar a inico de sesión</a>
      </div>
  
    </div>
  </div>