<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/wedding.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Invitados Boda
        </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/guest-management">Invitados</a>
            </li>
          </ul>
        <form class="d-flex">
          <button class="btn btn-outline-primary" type="button" (click)="authService.SingOut()">Cerrar Sesión</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="container mt-5">

    <a class="btn btn-outline-primary btn-lg" routerLink="/dashboard">Regresar</a>

    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center;">Invitaciones "No Asistirá"</h1>
    </div>

    <table class="table mb-3">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Adultos</th>
                <th scope="col">Niños</th>
                <th scope="col">Estatus</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let guest of guests; let i = index">
                <th *ngIf="guest.inviteStatus == 'No Asistira'" scope="row">{{ i + 1 }}</th>
                <td *ngIf="guest.inviteStatus == 'No Asistira'">{{ guest.name }}</td>
                <td *ngIf="guest.inviteStatus == 'No Asistira'">{{ guest.phone }}</td>
                <td *ngIf="guest.inviteStatus == 'No Asistira'">{{ guest.adults }}</td>
                <td *ngIf="guest.inviteStatus == 'No Asistira'">{{ guest.childs }}</td>
                <td *ngIf="guest.inviteStatus == 'No Asistira'" [ngSwitch]="guest.inviteStatus">
                    <span *ngSwitchCase="'Sin Enviar'" class="badge bg-secondary">{{ guest.inviteStatus }}</span>
                    <span *ngSwitchCase="'Enviado'" class="badge bg-primary">{{ guest.inviteStatus }}</span>
                    <span *ngSwitchCase="'Asistira'" class="badge bg-success">{{ guest.inviteStatus }}</span>
                    <span *ngSwitchCase="'No Asistira'" class="badge bg-danger">{{ guest.inviteStatus }}</span>
                    <span *ngSwitchDefault class="badge bg-secondary">Sin Estado</span>
                </td>
                <td *ngIf="guest.inviteStatus == 'No Asistira'">
                    <a href="https://wa.me/52{{ guest.phone }}?text={{ inviteURL }}%23/guest/{{ guest.id }}" class="btn btn-success me-1" target="_blank" (click)="updateInviteStatus( guest )">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                    <button class="btn btn-danger ms-1" (click)="removeGuest( guest )">
                        <i class="bi bi-trash-fill" ></i>
                    </button>
                </td>
            </tr>
        </tbody>

    </table>

  </div>



